astroid==3.2.2
    # via pylint
build==1.2.1
    # via pip-tools
click==8.1.7
    # via
    #   -r requirements.txt
    #   pip-tools
coverage[toml]==7.5.4
    # via pytest-cov
dill==0.3.8
    # via pylint
exceptiongroup==1.2.1
    # via pytest
iniconfig==2.0.0
    # via pytest
isort==5.13.2
    # via pylint
jinja2==3.1.4
    # via pytest-html
markupsafe==2.1.5
    # via jinja2
mccabe==0.7.0
    # via pylint
packaging==24.1
    # via
    #   build
    #   pytest
pip-tools==7.4.1
    # via -r requirements-dev.in
platformdirs==4.2.2
    # via pylint
pluggy==1.5.0
    # via pytest
pycodestyle==2.12.0
    # via -r requirements-dev.in
pylint==3.2.3
    # via -r requirements-dev.in
pyproject-hooks==1.1.0
    # via
    #   build
    #   pip-tools
pytest==8.2.2
    # via
    #   -r requirements-dev.in
    #   pytest-cov
    #   pytest-html
    #   pytest-metadata
pytest-cov==5.0.0
    # via -r requirements-dev.in
pytest-html==4.1.1
    # via -r requirements-dev.in
pytest-metadata==3.1.1
    # via pytest-html
tomli==2.0.1
    # via
    #   build
    #   coverage
    #   pip-tools
    #   pylint
    #   pytest
tomlkit==0.12.5
    # via pylint
typing-extensions==4.12.2
    # via astroid
wheel==0.43.0
    # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
